name: create weather maps

on:
  schedule:
    - cron: '0 2 * JAN,AUG-DEC *' # 03:00 (tider anges i UTC) varje dag i augusti-december samt januari. 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute weather map script # run main.py
        run: python main.py
          
      - name: commit and push files
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "Created new weather map" --allow-empty)
          git remote set-url origin https://${{ secrets.ACCESS_TOKEN }}@github.com/ORG/REPO.git
          git push origin main
